name: Yasca Push
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Install PIP Dependencies
        run: pip install -r requirements_dev.txt

      - name: Flake8 styles
        run: python -m flake8 ./yasca

      - name: Bandit security scan
        run: python -m bandit -r ./yasca

      - name: Safety dependency scan
        run: python -m safety check

      - name: Build release
        run: python3 setup.py sdist bdist_wheel

      - name: Get bumpversion
        run: echo "VERSION"=$(grep -i '__version__ = ' setup.py | tr -d '__version__ = "')  >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.VERSION}}
          release_name: Release v${{ env.VERSION }}
          draft: false
          prerelease: false

      - name: Upload Wheel
        id: upload_wheel
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/yasca-${{ env.VERSION }}-py2.py3-none-any.whl
          asset_name: Yasca Wheel
          asset_content_type: application/x-python-wheel

      - name: Upload Changelog
        id: upload_changelog
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: changelog
          asset_name: Yasca changelog
          asset_content_type: text/plain

#      - name: Publish
#        env:
#          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
#          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
#        run: |
#          twine upload dist/*